#th1{
    background-color: rgb(199, 135, 89);
}
#th2{
    background-color: rgb(141, 214, 67);
}
.day{
    background-color: rgb(105, 105, 222);
}
.time{
    background-color: rgb(105, 105, 222);
}